@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Media Queries */

@media (min-width: 600px) {
  .container {
    width: 85%;
  }
}
