.content {
  position: absolute;
  bottom: 75px;
}

small {
  font-size: 1.1rem;
  font-weight: 300;
}

.title {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1;
}

.btn {
  margin-top: 1rem;
}

.btn-swipe-left {
  display: block;
  overflow: hidden;
  text-align: center;
  max-width: 180px;
  padding: 16px;
  text-decoration: none;
  transition: all 0.5s ease-in-out 0s;
  font-weight: bold;
  font-size: 0.875rem;
}
.btn-swipe-left::before {
  content: "";
  transform: translateX(-150%);
  position: absolute;
  left: 0px;
  top: 0px;
  height: 140%;
  width: 240%;
  transition: all 0.5s ease-in-out 0s;
}
.btn-swipe-left {
  z-index: 2;
  position: relative;
  transition: all 0.5s ease-in-out 0s;
}
.btn-swipe-left:hover {
  color: rgb(0, 0, 0);
}
.btn-swipe-left:hover::before {
  transform: translateX(-50%);
  z-index: -1;
}
.btn-swipe-left--black {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}
.btn-swipe-left--black::before {
  background-color: rgb(255, 255, 255);
}

/* Media Queries */

@media (min-width: 600px) {
  .content {
    width: 45%;
    bottom: 130px;
  }

  .title {
    font-size: 3rem;
  }
}
